*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

*::-webkit-scrollbar {
	background-color: transparent;
	width: 10px;
}

*::-webkit-scrollbar-thumb {
	border-radius: 99px;
	background-color: #777474;
	border: 4px solid #fff;
}

main{
    display: flex;
}
.sidebar{
    width: 15%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    
    
    
}

nav{
    margin-bottom: 10vh;
}

.sidebar img {
    margin-top: 20px;
    width: 150px;
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
    margin-top: 13px;
}

ul li{
    list-style: none;    
    text-align: center;
    padding: 10px;
    
}

.sidebar-logo_container,.sidebar_form{
    margin-left: auto;
    margin-right: auto;
}


button{
    
    width: 115px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    border-radius: 4px;
    padding: 12px;
    font-weight: 700;
    font-size: 14px;
    border: solid 0.5px black;
    margin-bottom: 5px
    
}

.primary{
    color: white;
    background-color: #282d7f;  
}

.secondary{
    background-color: white;
    color: #282d7f;
    border: 1px solid #282d7f;
}



.sidebar_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

button i{
    color: white;
}

li:hover{
    background-color: #282d7f;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px;
}


.section_main_info{
    
    width: 65%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    background-color: #ebecf0;
    border-top-left-radius:10px ;
    border-bottom-left-radius: 10px;
    height: 100vh;
    
    
    
}


.section_container_profile{
    width: 25%;
    z-index: 1;
    box-shadow: -0.08em 0.03em 0.12em rgba(0,0,0,.07);
    background-color: #ffff;
    
}

.section_main_info_form{
    
    display: flex;
    height: fit-content;
    margin-top: 20px;

    
    
    & input {
        border-radius: 10px;
        border-top-left-radius:0px ;
        border-bottom-left-radius:0px ;
        height: 35px;
        width: 350px;
        background-color: #f5f6fa;
        border:none;
        border-left:none;
        padding-left: 5px;

    }
    & div{
        
        border-radius: 10px;
        border-top-right-radius:0px ;
        border-bottom-right-radius:0px ;
        height: fit-content;
        padding: 8.5px;
        background-color: #d9deeb;
        & i {
            color: #282d7f;
        }
    }
    

     
}

header p{
    color: #637bae;
}

.section_main_info_header{
    width: 90%;
    display: flex;
    justify-content: space-between;
    
    align-items: baseline;
    margin-left: 5%;
    
}

.section_main_info_card{
    margin-left: auto;
    margin-top: 30px;
    border-radius: 15px;
    padding: 15px;
    width: 90%;
    margin-right: auto;
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;

    & > div:first-child{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 90%;
        margin-top: 10px;
        margin-right: 15px;
    }

    & p {
        text-align: justify;
        font-size: 13px;
        
        color: #999c9d;
    }

    & button {
        width: 100%;
        margin-top: 15px;
    }

}



.section_main_info_card_div img
{
    width: 270px;
    height: 230px;
    border-radius: 30px;
    background-color: #ebecf0;
}

.section_main_info_new_courses{
    width: 90%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    & header {
        display: flex;
        justify-content: space-between;
    }
    & section {

        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        height: 35vh;

        
    }
}


.card {
    width: 33%;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 5px;
    height: 45vh;
    transition: all 300ms ease;
    overflow-y: auto;
    & button{
        width: 100%;
    }

    &:hover {
        transform: translateY(-5px);
        cursor: pointer;
      }
    
  }


  .card img {
    width: 100%;
    height: 15vh;
    display: block;
    object-fit: cover;
  }

  .card-content {
    padding: 15px;
  }

  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .card-description {
    max-height: 100px; /* Altura máxima de la descripción */
     /* Habilita el scroll vertical */
    margin-bottom: 10px;
    min-height: 80px;
    color: #888;
    font-size: small;
  }

  .card-date {
    font-size: small;
    color: #999c9d;
    margin-bottom: 10px;
  }

  .truncate{
    display: -webkit-box;
    -webkit-line-clamp: 5; /* Número de líneas para mostrar */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .section_container_profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    & header{
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    & img {
        border-radius: 100%;
        width: 12vw;
        height: 12vw;
    }
  }

