
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* border: solid 1px black; */
}

body {
    font-family: "Montserrat";
    height: 100vh;
    /* background-color: #eeeeff; */
    /* background-image: url(../img/tile_background.png) */
    background-image: linear-gradient(to top, #8360c3, #eeedff);
    
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 100vh;
    

}



.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 60vh;
    background-color: white;
    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
    
    
}

form header{
    margin-bottom: 30px;
}

form header p{
    margin-left: 8px;
}


.img-container{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 60vh;
}

.img {
    width: 25vw;
    height: 60vh;
    object-fit: fill;
    
    
}

input
{

    width: 230px;
    margin: 5px;
    color: rgb(36, 35, 42);
    font-size: 16px;
    line-height: 20px;
    min-height: 28px;
    border-radius: 4px;
    padding: 8px 16px;
    border: 2px solid black;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
    background: rgb(251, 251, 251);
    transition: all 0.1s ease 0s;
    :focus{
        border: 2px solid rgb(124, 138, 255);
    }

}

button{
    
    width: 115px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: #282d7f;
    border-radius: 4px;
    padding: 12px;
    font-weight: 700;
    font-size: 14px;
    color: white;
    

}

a{
    width: 110px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: #282d7f;
    border-radius: 4px;
    padding: 12px;
    font-weight: 700;
    font-size: 14px;
    color: white;
    
}

.login-btn{
    margin-left: 25px;
    margin-bottom: 70px;
    margin-top: 6px;
    padding: 11px 12px 12px 12px;
}

.signup-btn{

    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: white;
    border-radius: 4px;
    font-weight: 600;
    color: #282d7f;
    border: 1px solid #282d7f;
    text-decoration: none;
    margin-right: 5px;
}



.input-fname {
    width: 10px;
}

button:hover{
    background-color: #000000;
    color: white;
}

@media (max-width: 1058px) {
    .container{
        width: 350px;
        height: 400px;
        min-width: 300px;
    }
    .img{
        display: none;
    }


}